body{
    margin: 0
}

a {
    color: white;
}


body > header {
    background-color: dodgerblue;
    color: white;
    margin : 0;
    padding: 10px
}

ul {
    list-style: none;
    color : white ;
}

footer{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#listofthings {
    color : black;
}